@font-face {
    font-family: 'DIGITAL';
    src: url('https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}
.digital-clock {
    width: 85px;
    border-radius: 4px;
    text-align: center;
    font: 50px/60px 'DIGITAL', Helvetica;
}
